@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-text: #ffffff;
    --alternate-text: #000000;
    --primary: #111021;
    --secondary: #38334f;
    --accent: #584d80;
    --highlight: #686da1;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-dark {
    --main-text: #ffffff;
    --alternate-text: #000000;
    --primary: #211829;
    --secondary: #38334f;
    --accent: #5c527f;
    --highlight: #686da1;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-light {
    --main-text: #962d39;
    --alternate-text: #000000;
    --primary: #de8282;
    --secondary: #f7d7d7;
    --accent: #fcdcdc;
    --highlight: #ffffff;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-custom1 {
    --main-text: #f0edfc;
    --alternate-text: #000000;
    --primary: #3a2842;
    --secondary: #8f5b7c;
    --accent: #b26d79;
    --highlight: #ffa3b3;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-custom2 {
    --main-text: #f4c095;
    --alternate-text: #0b0835;
    --primary: #091f29;
    --secondary: #1d7874;
    --accent: #588077;
    --highlight: #ed4c4e;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-custom3 {
    --main-text: #ffb3b5;
    --alternate-text: #000000;
    --primary: #181437;
    --secondary: #234482;
    --accent: #a3484b;
    --highlight: #6d9dc9;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-custom4 {
    --main-text: #ffe6d9;
    --alternate-text: #000000;
    --primary: #300e21;
    --secondary: #8c3135;
    --accent: #c47e62;
    --highlight: #de527a;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-custom5 {
    --main-text: #ffffff;
    --alternate-text: #000000;
    --primary: #26231e;
    --secondary: #2e4b36;
    --accent: #5f725d;
    --highlight: #529c66;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }

  .theme-custom6 {
    --main-text: #20527f;
    --alternate-text: #000000;
    --primary: #719cc7;
    --secondary: #ffffff;
    --accent: #e6f0fc;
    --highlight: #ffffff;

    background: radial-gradient(
      ellipse at 5% 5%,
      var(--secondary),
      var(--primary)
    );
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Inter";
  font-size: 14px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--highlight) var(--primary);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 20px;
  border: 3px solid var(--primary);
}

::selection {
  background: var(--highlight); /* WebKit/Blink Browsers */
  color: var(--primary);
}

::-moz-selection {
  background: var(--highlight); /* Gecko Browsers */
  color: var(--primary);
}
